<div class="kt-portlet__head-label" [hidden]="noTitle">
			<span class="kt-portlet__head-icon" #refIcon [hidden]="hideIcon">
				<ng-content *ngIf="!icon" select="[ktPortletIcon]"></ng-content>
				<i *ngIf="icon" [ngClass]="icon"></i>
			</span>
  <ng-content *ngIf="!title" select="[ktPortletTitle]"></ng-content>
  <h3 *ngIf="title" class="kt-portlet__head-title" [innerHTML]="title"></h3>
</div>
<div class="kt-portlet__head-toolbar" #refTools [hidden]="hideTools">
  <ng-content select="[ktPortletTools]"></ng-content>
</div>
