<div class="kt-portlet"
     [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
  <div class="kt-portlet__head kt-portlet__head__custom">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
    </div>
  </div>
  <form class="kt-form" [formGroup]="changeFormGroup">
    <div class="kt-portlet__body">

      <div class="kt-portlet__body-progress">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
      <div class="form-group kt-form__group row">
        <div class="col-lg-6 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid">
            <input matInput placeholder="Mật khẩu" formControlName="password" type="password" />
            <mat-error *ngIf="changeFormGroup.get('password').hasError('required')">Mật khẩu
              <strong>bắt buộc</strong>
            </mat-error>
            <mat-hint align="start">Vui lòng nhập
              <strong>mật khẩu</strong>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-6 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid">
            <input matInput placeholder="Xác nhận mật khẩu" formControlName="rePassword" type="password" />
            <mat-error *ngIf="changeFormGroup.get('rePassword').hasError('required')">Xác nhận mật khẩu
              <strong>bắt buộc</strong>
            </mat-error>
            <mat-error *ngIf="changeFormGroup.get('rePassword').hasError('mustMatch')">Mật khẩu
              <strong>không khớp</strong>
            </mat-error>
            <mat-hint align="start">Vui lòng nhập
              <strong>xác nhận mật khẩu</strong>
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
      <div class="kt-form__actions kt-form__actions--solid">
        <div class="row text-right">
          <div class="col-lg-12">
            <button type="button" mat-raised-button [mat-dialog-close]="null" cdkFocusInitial matTooltip="Hủy">
              Cancel
            </button>&nbsp;
            <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="changeFormGroup.invalid" matTooltip="Lưu">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
