<app-portlet>
  <app-portlet-header [class]="'kt-portlet__head--lg'" [sticky]="true" [title]="getComponentTitle()"
                      [viewLoading$]="loading$">
    <ng-container ktPortletTools>
      <button class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Back to the products list">
        <i class="la la-arrow-left"></i>
        <span class="kt-hidden-mobile">Back</span>
      </button>
      <button (click)="onSaveProduct()" class="btn btn-primary kt-margin-r-10" color="primary"
              mat-raised-button
              matTooltip="Save & Continue"
      >
        <i class="la la-save"></i>
        <span class="kt-hidden-mobile">Save</span>
      </button>
    </ng-container>
  </app-portlet-header>
  <app-portlet-body>
    <form [formGroup]="orderProductsFormGroup" class="kt-form kt-form--group-seperator-dashed">
      <div class="kt-form__section kt-form__section--first">
        <div class="form__head-title">Thông tin đặt hàng</div>
        <div (click)="addClassifyGroup()"
             class="cursor-pointer p-3 font-weight-bold mt-2 text-center btn-add-classify-group">
          <span class="flaticon-add-circular-button"></span>
          Thêm đơn hàng
        </div>
        <div class="kt-form__group" formArrayName="orders">
          <div *ngFor="let orderProduct of ordersFormArray.controls; let i = index" class="row mt-2">
            <mat-label class="col-md-2 kt-margin-bottom-10-mobile product__description">Đơn hàng {{i + 1}}</mat-label>
            <div [formGroupName]="i" class="col-md-10 kt-margin-bottom-10-mobile p-2" style="border: 1px dashed gray;">
              <mat-form-field class="mat-form-field-fluid">
                <input formControlName="code" matInput placeholder="SKU" type="text">
              </mat-form-field>
              <mat-form-field class="mat-form-field-fluid">
                <mat-select formControlName="deliveryAgent" placeholder="Đơn vị vân chuyển">
                  <mat-option *ngFor="let delivery of listDelivery" [value]="delivery.value">
                    {{delivery.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="mat-form-field-fluid">
                <input formControlName="deliveryCode" matInput placeholder="Mã vận chuyển" type="text">
              </mat-form-field>
              <div class="mb-3" formArrayName="items">
                <div *ngFor="let property of orderProduct.get('items').controls let j = index;" [formGroupName]="j">
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select (selectionChange)="onChangeProduct($event, i, j)" formControlName="itemId"
                                placeholder="Sản phẩm">
                      <mat-option *ngFor="let product of products" [value]="product.id">
                        {{product.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="mat-form-field-fluid">
                    <mat-select (selectionChange)="onChooseProduct($event, i, j)" formControlName="itemModalId"
                                placeholder="Phân loại">
                      <mat-option *ngFor="let product of subProducts[i][j]" [value]="product.id">
                        {{product.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="mat-form-field-fluid">
                    <input (change)="onChangeAmountProduct($event, i, j)"
                           [max]="totalInventory[i][j]"
                           [min]="1"
                           formControlName="number"
                           matInput
                           placeholder="Số lượng"
                           type="number">
                    <mat-hint align="first" class="product-amount">Số lượng: {{ totalInventory[i][j] }}</mat-hint>
                  </mat-form-field>
                </div>
                <div (click)="addClassifyValue(orderProduct?.controls['items'], i)"
                     class="cursor-pointer font-weight-bold mt-3">
                  <span class="flaticon-add-circular-button"></span>
                  Thêm phân loại hàng
                </div>
                <div class="mt-3 text-center">
                  <label class="font-weight-bold">Tổng tiền:</label>
                  <span class="total-price">
                    {{
                    totalPrices[i] | totalPrice | decimalFormat
                    }} VNĐ
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </app-portlet-body>
</app-portlet>
