<app-portlet>
  <app-portlet-header [class]="'kt-portlet__head--lg'" [sticky]="true" [title]="getComponentTitle()"
                      [viewLoading$]="loading$">
    <ng-container ktPortletTools>
      <button class="btn btn-secondary kt-margin-r-10"
              mat-raised-button
              matTooltip="Quay lại"
              [routerLink]="'/dashboard'"
      >
        <i class="la la-arrow-left"></i>
        <span class="kt-hidden-mobile">Quay lại</span>
      </button>
    </ng-container>
  </app-portlet-header>
  <app-portlet-body>
    <div class="kt-form kt-form--group-seperator-dashed">
      <div class="kt-form__section kt-form__section--first">
        <div class="kt-form__group">
          <div class="row">
            <div class="col-md-12 kt-margin-bottom-10-mobile">
              <p class="kt-margin-bottom-10-mobile font-weight-bold">Tiêu đề thông báo</p>
              <p class="">
                {{notification?.title}}
              </p>
            </div>
          </div>
        </div>
        <div class="kt-form__group">
          <div class="row">
            <p class="kt-margin-bottom-10-mobile font-weight-bold">Nội dung thông báo</p>
            <div class="col-md-12 kt-margin-bottom-10-mobile">
              <div [innerHTML]="notification?.content | bindingHtml"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-portlet-body>
</app-portlet>
