<div class="kt-portlet"
     [ngClass]="{ 'kt-portlet--body-progress kt-portlet--body-progress-overlay' : viewLoading }">
  <div class="kt-portlet__head kt-portlet__head__custom">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">{{getTitle()}}</h3>
    </div>
  </div>
  <form class="kt-form" [formGroup]="balanceFormGroup">
    <div class="kt-portlet__body">
      <div class="kt-portlet__body-progress">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>

      <app-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
        Oh snap! Change a few things up and try submitting again.
      </app-alert>

      <div class="form-group kt-form__group row">
        <div class="col-lg-12 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid mt-3">
            <input matInput placeholder="Số tiền cộng/trừ vào" formControlName="value" type="number"/>
            <mat-error>Số tiền cộng/trừ
              <strong>bắt buộc</strong>
            </mat-error>
            <mat-hint align="start">Vui lòng nhập
              <strong>số tiền</strong>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-12 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid mt-3">
            <mat-select formControlName="transactionType" placeholder="Loại cộng/trừ tiền">
              <mat-option *ngFor="let type of transactionTypes" [value]="type.id">
                {{type.name}}
              </mat-option>
            </mat-select>
            <mat-error>Loại cộng/trừ
              <strong>bắt buộc</strong>
            </mat-error>
            <mat-hint align="start">Vui lòng nhập
              <strong>loại cộng/trừ tiền</strong>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-lg-12 kt-margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid mt-3">
            <textarea matInput placeholder="Nội dung" formControlName="note" rows="5"></textarea>
            <mat-error>Nội dung cộng/trừ tiền
              <strong>bắt buộc</strong>
            </mat-error>
            <mat-hint align="start">Vui lòng nhập
              <strong>nội dung cộng/trừ tiền</strong>
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
      <div class="kt-form__actions kt-form__actions--solid">
        <div class="row text-right">
          <div class="col-lg-12">
            <button type="button" mat-raised-button [mat-dialog-close]="null" cdkFocusInitial matTooltip="Hủy">
              Hủy
            </button>&nbsp;
            <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="balanceFormGroup.invalid" matTooltip="Save changes">
              Lưu thay đổi
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
