<app-list-products [title]="'Danh sách sản phẩm'" [listProducts]="products"></app-list-products>

<div class="new-products">
  <div class="container">
    <h3>Sản phẩm theo thể loại</h3>
    <ul class="list-unstyled list-categories justify-content-center" style="display: flex">
      <li *ngFor="let category of categories; let i = index" class="category" (click)="loadProductsByCategory(category, i)">
        <button mat-button mat-flat-button [ngClass]="{'btn-active': isClickCategory[i] === true}" >
          {{category.categoryName}}
        </button>
      </li>
    </ul>
    <div class="agileinfo_new_products_grids">
      <app-product [listProducts]="productsCategory"></app-product>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>

<div class="new-products">
  <div class="container">
    <h3>Sản phẩm theo nhà cung cấp</h3>
    <ul class="list-unstyled list-categories justify-content-center" style="display: flex">
      <li *ngFor="let supplier of suppliers; let i = index" class="category" (click)="loadProductsBySupplier(supplier, i)">
        <button mat-button mat-flat-button [ngClass]="{'btn-active': isClickSupplier[i] === true}" >{{supplier.supplierName}}</button>
      </li>
    </ul>
    <div class="agileinfo_new_products_grids">
      <app-product [listProducts]="productsSupplier"></app-product>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
