:host {
  .price {
    color: rgb(255, 52, 37);
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .username {
    color: rgb(0, 127, 240);
    font-size: 15px;
    font-weight: 500;
  }
}
