/*General color*/
$colors: (
  primary: #2222b6
);
// ---------- Color Variables ----------
$color-primary: #005aab;
$color-success: #019843;
$color-critical: #d71c32;
$color-warning: #eec000;
$color-support-blue: #00b8ee;
$color-secondary: #05693f;
$color-highlight-control: #c3d8ea;
$color-positive: #00a268;

$text-color-main: #142834;
$text-color-secondary: #5a6771;
$text-color-highlight: #005aab;
$text-color-invert: #ffffff;
$text-color-disable: #5a6670;
$text-color-explain: #8b9aa4;

$color-mid: #888;
$color-black: #5a6770;
$color-active-accent: #ffc400;
$color-active-second: #05693f;

$color-clear: transparent;
$color-base: #f7e23b;

$color-bg-control-1: #f4f7fa;
$color-bg-control-2: #f0f3f6;
$color-bg-control-3: #dee3e6;
$color-bg-control-4: #5a6771;

$color-bg-sub-menu: #203143;
$color-bg-header: #394b61;

$color-bg-page-border: #cbcfd5;
$color-bg-light-gray: #dfe2e6;
$color-bg-gray: #5a6670;
$color-yellow: yellow;
$color-dark-yellow: #fdbc09;
$color-orange: orange;
$color-disabled: #545454;
$color-lavender: #856fde;
$color-bg-blue-fade: #dbe7f2;
$color-pending-report-group: #e6e5e5;
$color-bg-blue: #f4f7fa;
$color-support-blue-violet: #8a2be2;
$color-bg-light-blue: #c4c9cc;
$color-bg: #12a89d;
