<app-portlet>
  <app-portlet-header [class]="'kt-portlet__head--lg'" [sticky]="true" [title]="getComponentTitle()"
                      [viewLoading$]="loading$">
    <ng-container ktPortletTools>
      <button class="btn btn-secondary kt-margin-r-10"
              mat-raised-button
              matTooltip="Quay lại"
              [routerLink]="'/notification'"
      >
        <i class="la la-arrow-left"></i>
        <span class="kt-hidden-mobile">Quay lại</span>
      </button>
      <button (click)="onSaveNotification()"
              class="btn btn-primary kt-margin-r-10" color="primary"
              mat-raised-button
              matTooltip="Lưu"
      >
        <i class="la la-save"></i>
        <span class="kt-hidden-mobile">Lưu</span>
      </button>
    </ng-container>
  </app-portlet-header>
  <app-portlet-body>
    <form [formGroup]="notificationFormGroup" class="kt-form kt-form--group-seperator-dashed">
      <div class="kt-form__section kt-form__section--first">
        <div class="kt-form__group">
          <div class="row">
            <div class="col-md-12 kt-margin-bottom-10-mobile">
              <p class="kt-margin-bottom-10-mobile font-weight-bold">Tiêu đề thông báo</p>
              <mat-form-field class="mat-form-field w-100">
                <textarea matInput formControlName="title" placeholder="Tiêu đề thông báo" rows="5"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="kt-form__group">
          <div class="row">
            <p class="kt-margin-bottom-10-mobile font-weight-bold">Nội dung thông báo</p>
            <div class="col-md-12 kt-margin-bottom-10-mobile">
              <input #uploadFile id="upload-file" type="file" (change)="uploadImageToServer($event)"/>
              <quill-editor
                formControlName="content"
                (onEditorCreated)="onHandlerUploadImage($event)"
              >
                <div quill-editor-toolbar>
                    <span class="ql-formats">
                      <button class="ql-bold"></button>
                      <button class="ql-italic"></button>
                      <button class="ql-underline"></button>
                    </span>
                  <span class="ql-formats">
                      <button class="ql-list" value="ordered"></button>
                      <button class="ql-list" value="bullet"></button>
                      <label>
                        <select class="ql-align">
                          <option selected></option>
                          <option value="center"></option>
                          <option value="right"></option>
                          <option value="justify"></option>
                        </select>
                      </label>
                    </span>
                  <span class="ql-formats">
                      <button class="ql-image"></button>
                    </span>
                </div>
              </quill-editor>
            </div>
          </div>
        </div>
      </div>
    </form>
  </app-portlet-body>
</app-portlet>
