<app-portlet>
  <app-portlet-header [class]="'kt-portlet__head--lg'" [sticky]="true" [title]="getComponentTitle()"
                      [viewLoading$]="loading$">
    <ng-container ktPortletTools>
      <button [routerLink]="'/product'"
              class="btn btn-secondary kt-margin-r-10" mat-raised-button
              matTooltip="Quay lại"
      >
        <i class="la la-arrow-left"></i>
        <span class="kt-hidden-mobile">Quay lại</span>
      </button>
      <button (click)="onSaveProduct()" class="btn btn-primary kt-margin-r-10" color="primary"
              mat-raised-button
              matTooltip="Lưu"
      >
        <span class="kt-hidden-mobile">Lưu</span>
      </button>
    </ng-container>
  </app-portlet-header>
  <app-portlet-body>
    <form [formGroup]="productFormGroup" class="kt-form kt-form--group-seperator-dashed">
      <div class="kt-form__section kt-form__section--first">
        <div class="form__head-title">Thông tin sản phẩm</div>
        <div class="kt-form__group">
          <div class="row">
            <mat-label class="col-md-2 kt-margin-bottom-10-mobile product__description">Tên sản phẩm(*)</mat-label>
            <div class="col-md-10 kt-margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <input formControlName="productName" matInput placeholder="Nhập tên sản phẩm">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="kt-form__group">
          <div class="row">
            <mat-label class="col-md-2 kt-margin-bottom-10-mobile product__description">Mô tả sản phẩm(*)</mat-label>
            <div class="col-md-10 kt-margin-bottom-10-mobile">
              <quill-editor [styles]="{ height: '300px' }" formControlName="description">
              </quill-editor>
            </div>
          </div>
        </div>
        <div class="kt-form__group">
          <div class="row">
            <mat-label class="col-md-2 kt-margin-bottom-10-mobile product__description">Thể loại sản phẩm(*)</mat-label>
            <div class="col-md-10 kt-margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select formControlName="categoryId" placeholder="Thể loại sản phẩm">
                  <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{
                    category.categoryName
                    }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="kt-form__group">
          <div class="row">
            <mat-label class="col-md-2 kt-margin-bottom-10-mobile product__description">Nhà cung cấp(*)</mat-label>
            <div class="col-md-10 kt-margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <mat-select formControlName="supplierId" placeholder="Nhà cung cấp">
                  <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">
                    {{
                    supplier.supplierName
                    }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="kt-form__group">
          <div class="row">
            <mat-label class="col-md-2 kt-margin-bottom-10-mobile product__description">Hình đại diện(*)</mat-label>
            <div class="col-md-10 kt-margin-bottom-10-mobile">
              <div [ngStyle]="{background: 'url(' + previewImage + ')'}" class="uploader" id="file-upload-form">
                <input
                  (change)="changeImage($event)"
                  accept="image/*"
                  id="file-upload"
                  type="file"
                />
                <label for="file-upload">
                  <span *ngIf="!previewImage" class="flaticon-upload add-image"></span>
                </label>
                <span (click)="deleteImage()" *ngIf="previewImage" class="flaticon-delete delete-image"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="form__head-title">Thông tin bán hàng</div>
        <div class="kt-form__group">
          <div class="row">
            <mat-label class="col-md-2 kt-margin-bottom-10-mobile product__description">Số lượng tồn kho(*)</mat-label>
            <div class="col-md-10 kt-margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <input formControlName="amount" matInput placeholder="Số lượng tồn kho" type="number">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="kt-form__group">
          <div class="row">
            <mat-label class="col-md-2 kt-margin-bottom-10-mobile product__description">Giá bán(*)</mat-label>
            <div class="col-md-10 kt-margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <span matSuffix> VNĐ</span>
                <input formControlName="price" matInput placeholder="Giá bán" type="number">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
  </app-portlet-body>
</app-portlet>
